# Agent 1 - Reasoning agent
#-----------------------------------------------------------
BSU_MODEL_PROVIDER = boise-state
BSU_MODEL_CHAT = us.anthropic.claude-sonnet-4-20250514-v1:0
BSU_API_KEY=
BSU_PROVIDER_URL=https://api.boisestate.ai/chat/api-converse

# Agebnt 2 - Formatting agent
#-----------------------------------------------------------
API_MODEL_PROVIDER = ollama
API_MODEL_CHAT = gemma4:31b-cloud
#API_MODEL_CHAT = gemma3:12b
API_API_KEY=
API_PROVIDER_URL=http://localhost:11434